[tool.poetry]
name = "jlpe"
version = "3.12.8.22.01.25.0"
description = "Portable JupyterLab environment that simplifies setup and ensures consistency across different platforms."
authors = ["Seeeaaa"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "3.12.8"

[tool.poetry.group.ml.dependencies]
prophet = "^1.1.6"
xgboost = "^2.1.3"
lightgbm = "^4.5.0"
catboost = "^1.2.7"

[tool.poetry.group.scalable_data.dependencies]
dask = { extras = ["complete"], version = "^2024.1.0" }
tsfresh = { extras = ["dask"], version = "^0.20.3" }
polars = "^1.20.0"

[tool.poetry.group.data.dependencies]
numpy = "^1.26.4"
pandas = { extras = ["performance"], version = "^2.2.3" }
scikit-learn = "^1.6.1"
scipy = "^1.15.1"
statsmodels = "^0.14.4"

[tool.poetry.group.visualization.dependencies]
matplotlib = "^3.10.0"
seaborn = "^0.13.2"
plotly = "^5.24.1"
colorcet = "^3.1.0"
bokeh = "^3.6.2"

[tool.poetry.group.lab.dependencies]
jupyterlab = "^4.3.4"
jupyterlab-execute-time = "^3.2.0"
jupyterlab-code-formatter = "^3.0.2"
autopep8 = "^2.3.2"
black = "^24.10.0"
isort = "^5.13.2"
yapf = "^0.43.0"
nb-clean = "^4.0.1"
ruff = "^0.9.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
