[tool.poetry]
name = "jlpe"
version = "3.13.9.10.12.25.0"
description = "Portable JupyterLab environment that simplifies setup and ensures consistency across different platforms."
authors = ["Seeeaaa"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "3.13.9"

[tool.poetry.group.ml.dependencies]
xgboost = "^3.1.2"
lightgbm = "^4.6.0"
catboost = "^1.2.8"
prophet = "^1.1.6"
optuna = "^4.6.0"
shap = "^0.50.0"

[tool.poetry.group.web.dependencies]
fastapi = "^0.121.3"
streamlit = "^1.50.0"

[tool.poetry.group.scalable_data.dependencies]
dask = { extras = ["complete"], version = "^2025.11.0" }
tsfresh = { extras = ["dask"], version = "^0.21.1" }
polars = "^1.35.2"

[tool.poetry.group.data.dependencies]
numpy = "^2.3.5"
pandas = { extras = ["performance"], version = "^2.3.3" }
scikit-learn = "^1.7.2"
scipy = "^1.16.2"
statsmodels = "^0.14.4"

[tool.poetry.group.visualization.dependencies]
matplotlib = "^3.10.7"
seaborn = "^0.13.2"
plotly = "^6.5.0"
colorcet = "^3.1.0"
bokeh = "^3.8.1"
geopandas = "^1.0.1"
kaleido = "^1.2.0"

[tool.poetry.group.lab.dependencies]
jupyterlab = "^4.5.0"
jupyterlab-execute-time = "^3.2.0"
jupyterlab-code-formatter = "^3.0.2"
jupyter-resource-usage = "^1.2.0"
autopep8 = "^2.3.2"
black = "^25.12.0"
isort = "^7.0.0"
ruff = "^0.14.8"
yapf = "^0.43.0"
nb-clean = "^4.0.1"
ipywidgets = "^8.1.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
