[tool.poetry]
name = "jlpe"
version = "3.11.14+slim-trixie.20260204"
description = "Portable JupyterLab environment that simplifies setup and ensures consistency across different platforms."
authors = ["Seeeaaa"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "3.11.14"

[tool.poetry.group.ml.dependencies]
xgboost = "^3.2.0"
lightgbm = "^4.6.0"
catboost = "^1.2.8"
prophet = "^1.1.6"
optuna = "^4.7.0"
shap = "^0.50.0"

[tool.poetry.group.scalable_data.dependencies]
dask = { extras = ["complete"], version = "^2026.1.1" }
tsfresh = { extras = ["dask"], version = "^0.21.1" }
polars = "^1.38.1"
duckdb = "^1.4.4"

[tool.poetry.group.data.dependencies]
# numpy = "^2.3.5"
numpy = "^2.4.2"
# pandas = { extras = ["performance"], version = "^2.3.3" }
pandas = { extras = ["performance"], version = "^3.0.0" }
scikit-learn = "^1.8.0"
scipy = "^1.17.0"
statsmodels = "^0.14.6"
pyarrow = "^23.0.0"

[tool.poetry.group.visualization.dependencies]
matplotlib = "^3.10.8"
seaborn = "^0.13.2"
plotly = "^6.5.1"
colorcet = "^3.1.0"
bokeh = "^3.8.2"
geopandas = "^1.0.1"
kaleido = "^1.2.0"

[tool.poetry.group.lab.dependencies]
jupyterlab = "^4.5.4"
jupyterlab-execute-time = "^3.2.0"
jupyterlab-code-formatter = "^3.0.3"
jupyter-resource-usage = "^1.2.0"
autopep8 = "^2.3.2"
black = "^26.1.0"
isort = "^7.0.0"
ruff = "^0.15.1"
yapf = "^0.43.0"
nb-clean = "^4.0.1"
ipywidgets = "^8.1.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
