[tool.poetry]
name = "jlpe"
version = "3.13.11-slim-trixie.01.01.26.0"
description = "Portable JupyterLab environment that simplifies setup and ensures consistency across different platforms."
authors = ["Seeeaaa"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "3.13.11"

[tool.poetry.group.lab.dependencies]
jupyterlab = "^4.5.1"
jupyterlab-execute-time = "^3.2.0"
jupyterlab-code-formatter = "^3.0.2"
jupyter-resource-usage = "^1.1.1"
autopep8 = "^2.3.2"
black = "^25.12.0"
isort = "^7.0.0"
ruff = "^0.14.10"
yapf = "^0.43.0"
nb-clean = "^4.0.1"
ipywidgets = "^8.1.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
