[tool.poetry]
name = "jlpe"
version = "3.13.5.16.06.25.0"
description = "Portable JupyterLab environment that simplifies setup and ensures consistency across different platforms."
authors = ["Seeeaaa"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "3.13.5"

[tool.poetry.group.lab.dependencies]
jupyterlab = "^4.4.3"
jupyterlab-execute-time = "^3.2.0"
jupyterlab-code-formatter = "^3.0.2"
jupyter-resource-usage = "^1.1.1"
autopep8 = "^2.3.2"
black = "^25.1.0"
isort = "^6.0.1"
ruff = "^0.11.11"
yapf = "^0.43.0"
nb-clean = "^4.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
