[tool.poetry]
name = "jlpe"
version = "3.13.5.02.07.25.0"
description = "Portable JupyterLab environment that simplifies setup and ensures consistency across different platforms."
authors = ["Seeeaaa"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "3.13.5"

[tool.poetry.group.ml.dependencies]
prophet = "^1.1.6"
xgboost = "^3.0.2"
lightgbm = "^4.6.0"
catboost = "^1.2.8"
optuna = "^4.3.0"
shap = "^0.48.0"

[tool.poetry.group.scalable_data.dependencies]
dask = { extras = ["complete"], version = "^2025.5.1" }
tsfresh = { extras = ["dask"], version = "^0.21.0" }
polars = "^1.30.0"

[tool.poetry.group.data.dependencies]
numpy = "^2.2.6"
pandas = { extras = ["performance"], version = "^2.3.0" }
scikit-learn = "^1.7.0"
scipy = "^1.15.3"
statsmodels = "^0.14.4"

[tool.poetry.group.visualization.dependencies]
matplotlib = "^3.10.3"
seaborn = "^0.13.2"
plotly = "^6.1.1"
colorcet = "^3.1.0"
bokeh = "^3.7.3"
geopandas = "^1.0.1"
# fixed because 0.2.1.post1 is not available for all platforms
kaleido = "0.2.1"

[tool.poetry.group.lab.dependencies]
jupyterlab = "^4.4.3"
jupyterlab-execute-time = "^3.2.0"
jupyterlab-code-formatter = "^3.0.2"
jupyter-resource-usage = "^1.1.1"
autopep8 = "^2.3.2"
black = "^25.1.0"
isort = "^6.0.1"
ruff = "^0.12.1"
yapf = "^0.43.0"
nb-clean = ">=4.0.1"
ipywidgets = "^8.1.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
